.App {
  margin: 0;
  display: flex;
  flex-direction: column; /* Add this */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cc-title {
  margin: 0;
  margin-bottom: .5rem;
}

.input-number {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

.currency-code {
  margin-left: .5rem;
}
.equals {
  font-weight: bold;
  font-size: 2rem;
}
